<a href="https://colab.research.google.com/github/Pratham-Moodbidri/IEEE-ML-Task-1/blob/main/Calculations%20on%20dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import pandas as pd 
path = "/content/drive/MyDrive/tvmarketing.csv"
df = pd.read_csv(path)
print(df)

        TV  Sales
0    230.1   22.1
1     44.5   10.4
2     17.2    9.3
3    151.5   18.5
4    180.8   12.9
..     ...    ...
195   38.2    7.6
196   94.2    9.7
197  177.0   12.8
198  283.6   25.5
199  232.1   13.4

[200 rows x 2 columns]

In [7]:
print("Value count of TV Column is",df['TV'].count())

Value count of TV Column is 200

In [8]:
print("Value count of Sales Column is",df['Sales'].count())

Value count of Sales Column is 200

In [9]:
print("Maximum value of TV Column is",df['TV'].max())

Maximum value of TV Column is 296.4

In [10]:
print("Maximum value of Sales Column is",df['Sales'].max())

Maximum value of Sales Column is 27.0

In [11]:
print("Mean value of TV Column is",df['TV'].mean())

Mean value of TV Column is 147.0425

In [12]:
print("Mean value of Sales Column is",df['Sales'].mean())

Mean value of Sales Column is 14.0225

In [13]:
print("Standard Deviation of TV Column is",df['TV'].std())

Standard Deviation of TV Column is 85.85423631490808

In [14]:
print("Standard Deviation of Sales Column is",df['Sales'].std())

Standard Deviation of Sales Column is 5.217456565710478

In [18]:
print("25% of TV Column is",df['TV'].quantile(0.25))
print("25% of Sales Column is",df['Sales'].quantile(0.25))

25% of TV Column is 74.375
25% of Sales Column is 10.375

In [19]:
print("50% of TV Column is",df['TV'].quantile(0.50))
print("50% of Sales Column is",df['Sales'].quantile(0.50))

50% of TV Column is 149.75
50% of Sales Column is 12.9

In [20]:
print("75% of TV Column is",df['TV'].quantile(0.75))
print("75% of Sales Column is",df['Sales'].quantile(0.75))

75% of TV Column is 218.825
75% of Sales Column is 17.4